<% if(errMessage) {%>
<div class="alert alert-danger" role="alert"><%= errMessage %></div>
<% } %>
<!--  -->
<% if(book){ %>
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <% book.imagesUrl.forEach((imageUrl,index)=>{ %>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="<%=index%>"
        class="<%= index === 0 ? 'active' : '' %>"
        aria-current="<%= index==0?'true':'' %>"
        aria-label="Slide <%= index+1 %>"
      ></button>
      <% }) %>
    </div>
    <div class="carousel-inner">
      <% book.imagesUrl.forEach((imageUrl,index)=>{ %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
        <img src="<%=imageUrl %>" class="d-block w-100" alt="..." />
      </div>
      <% }) %>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="pt-4">
    <h3><%=book.name%> by <%=book.author%></h3>
    <h4>Description</h4>
    <p><%=book.desc%></p>
    <a class="btn btn-secondary">Qty: <%= book.quantity%></a>
    <a href="/issueBook/<%= book._id %>" class="btn btn-primary"> Issue </a>
    <% if(userName==book.contributor){ %>
    <a href="/updateBook/<%= book._id %>" class="btn btn-warning"> Update </a>
    <a href="/deleteBook/<%= book._id %>" class="btn btn-danger"> Delete </a>
    <% } %>
    <!--  -->
    <% if(book.requests){ %> <% book.requests.forEach(request=>{ %>
    <div class="alert alert-primary" role="alert">
      Issued by <%=request.name%>, to be returned on <%= request.daysLeft %>
      days
    </div>
    <% })%> <% }%>
  </div>
</div>
<%}%>
